
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}


.container {
    width: 80%;
    margin: auto;
}


header {
    background-color: #1e3a8a; /* azul escuro */
    color: white;
    padding: 20px 0;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Courier New', monospace;
}


.menu {
    list-style: none;
    display: flex;
    gap: 20px;
}


.menu a {
    color: white; 
    text-decoration: none;
}

.menu a:hover {
    color: #60a5fa; 
}

main {
    padding: 20px 0;
}


.flex {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}


.card {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    flex: 1;
}


img {
    max-width: 100%;
    border-radius: 10px;
}


ul {
    margin-left: 20px;
}


form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea, button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}


button {
    background-color: #1e3a8a;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #2563eb;
}


footer {
    background-color: #0f172a; 
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}

/* LINKS DO RODAPÉ */
footer a {
    color: #60a5fa;
    text-decoration: none;
}

/* HOVER NO RODAPÉ */
footer a:hover {
    text-decoration: underline;
}
